*~
settings.xml
.classpath.txt
.fullclasspath.txt
.DS_Store
.gradle
target
build
*.iml
*.iws
*.ipr
.idea/

# eclipse
.project
.buildpath
.classpath
.settings
.checkstyle

.mvn/wrapper/maven-wrapper.jar